<div class="row">
  <div class="col-auto">
    <h2>Welcome!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a Blog Post:</h3>

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-name">blog name:</label>
        <input class="form-input" type="text" id="blog-name" name="blog-name" id="blog-name"/>
      </div>
      <div class="form-group">
        <label for="blog-desc">description:</label>
        <textarea class="form-input" id="blog-desc" name="blog-desc" id="blog-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="create-new-blog">Create</button>
      </div>
    </form>
  </div>

  {{#if blog.length}}
  <div class="col-md-6 project-list">
    <h3>My Posts:</h3>

    {{#each blog}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{blog.id}}">{{blog.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blog.id}}" id="delete-blog">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/userprofile.js"></script>

<script src="/js/materialize.js"></script>
